:root {
	/* Basisfarben */
	--color-background: #121212;
	--color-foreground: #e0e0e0;
	--color-link: #8ab4f8;
	--color-accent: #8ab4f8;

	/* zusätzliche Token */
	--color-card: #262626;
	--color-muted: #888888;
	--color-muted-bg: #171717;
}
