/* Basis-Reset, Box-Sizing und Grundtypen */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: var(--font-family); /* definiert im tokens/_fonts.scss */
	line-height: 1.6;
}
